html, body
{
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

#page1
{
    height: 0px;
    width: 100%;
    /* background-image: url('assets/page1_background.jpg'); */
    background-position: center;
}
#page1.nav:first-child
{
    /* text-decoration: underline; */
}
.nav
{
    text-align: right;
    color: white;
    padding-right: 19px;
    font-size: 25pt;
    margin-top: 0px;
    padding-top: 20px;
}
.navBlock
{
    display: inline-block;
    padding-right: 18px;
    padding-top: 0;
    margin-top: 0;
    cursor: pointer;
}
.navBlock:hover
{
    text-decoration: underline;
}
#page2
{
    background-color: #76BED0;
}
#buttonContainer
{
    width: 100%;
    text-align: center;
}
#exploreButton
{
    width: 220px;
    height: 100px;
    border: 4px solid white;
    font-size: 40pt;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    border-radius: 9px;
    background-color: rgba(160, 160, 160, 0.933);
    opacity: 0.8;
}
#exploreButton:active
{
    background-color: rgba(124, 124, 124, 0.933);
}
#exploreButton:hover
{
    height: 110px;
    width: 230px;
    font-size: 42pt;
    transition: 0.5s;
}
#buttonTopSpace
{
    width: 100%;
    height: 0;
}